*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
header{
    background-color: black;
    text-align: center;
    padding: 25px;
}
h1{
    background-color: black;
    text-align: center;
    padding: 25px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
section{
    width: 33%;
    float: left;
    padding: 10px;
}
aside{
    width: 33%;
    float: left;
    padding: 10px;
}
article{
    width: 33%;
    float: left;
    padding: 10px;
}
@media screen and (max-width:600px){
    aside, section, article, button, img{
        width: 100%;
        height: 100%;
        align-items: center;
    }
}
table, th, td{
    background-color: rgb(196, 196, 196);
    border: 2px solid black;
    border-radius: none;
    margin: 10px;
}
.button1{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover{
    box-shadow: 0 10px 16px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(56, 56, 56, 0.19);
}
